<a href="https://colab.research.google.com/github/sagar2582/Capstone-3-Mobile_Price_Prediction/blob/main/Capstone_3_Mobile_Price_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Mobile Phone Price Prediction Classification Project

###In the competitive mobile phone market companies want to understand sales data of mobile phones and factors which drive the prices.

###The objective is to find out some relation between features of a mobile phone(eg:- RAM,Internal Memory, etc) and its selling price. In this problem, we do not have to predict the actual price but a price range indicating how high the price is.

##Data Description -

Battery_power - Total energy a battery can store in one time measured in mAh


Blue - Has bluetooth or not


Clock_speed - speed at which microprocessor executes instructions


Dual_sim - Has dual sim support or not


Fc - Front Camera mega pixels


Four_g - Has 4G or not


Int_memory - Internal Memory in Gigabytes


M_dep - Mobile Depth in cm


Mobile_wt - Weight of mobile phone


N_cores - Number of cores of processor


Pc - Primary Camera mega pixels


Px_height - Pixel Resolution Height


Px_width - Pixel Resolution Width


Ram - Random Access Memory in Mega Bytes


Sc_h - Screen Height of mobile in cm


Sc_w - Screen Width of mobile in cm


Talk_time - longest time that a single battery charge will last when you are


Three_g - Has 3G or not


Touch_screen - Has touch screen or not


Wifi - Has wifi or not


Price_range - This is the target variable with value of 0(low cost), 1(medium cost),


2(high cost) and 3(very high cost).

In [3]:
# Importing Basic Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# Importing drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# Importing dataset
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Capstone - 3 Classification Project/data_mobile_price_range.csv')

In [6]:
# First Look
df.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [8]:
df.tail()

      battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
1995            794     1          0.5  ...             1     0            0
1996           1965     1          2.6  ...             1     1            2
1997           1911     0          0.9  ...             1     0            3
1998           1512     0          0.9  ...             1     1            0
1999            510     1          2.0  ...             1     1            3

[5 rows x 21 columns]

In [11]:
print("The shape of our dataset is : ", df.shape)

The shape of our dataset is :  (2000, 21)

In [12]:
rows = df.shape[0]
columns = df.shape[1]

print(f"Our dataset has {rows} and {columns} columns")

Our dataset has 2000 and 21 columns

In [13]:
# Check for Null values

df.isnull().sum().sort_values(ascending = False)

battery_power    0
px_height        0
wifi             0
touch_screen     0
three_g          0
talk_time        0
sc_w             0
sc_h             0
ram              0
px_width         0
pc               0
blue             0
n_cores          0
mobile_wt        0
m_dep            0
int_memory       0
four_g           0
fc               0
dual_sim         0
clock_speed      0
price_range      0
dtype: int64

### We have 0 Null values hence saves our time, moving forward

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [16]:
# Check for duplicate values

len(df[df.duplicated()])

0

In [17]:
df.describe()

       battery_power       blue  ...         wifi  price_range
count    2000.000000  2000.0000  ...  2000.000000  2000.000000
mean     1238.518500     0.4950  ...     0.507000     1.500000
std       439.418206     0.5001  ...     0.500076     1.118314
min       501.000000     0.0000  ...     0.000000     0.000000
25%       851.750000     0.0000  ...     0.000000     0.750000
50%      1226.000000     0.0000  ...     1.000000     1.500000
75%      1615.250000     1.0000  ...     1.000000     2.250000
max      1998.000000     1.0000  ...     1.000000     3.000000

[8 rows x 21 columns]